*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
}


/*************************INDEX*************************/
/*HEARDER*/
header{
    display: flex;
    height: 8.5rem;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem;
    background-image: url("../../img/fondo.1.webp");
}
.header__logo{
    max-width: 150px;
}
.header__item{
    display: inline-block;
    padding: 0.5rem 0.5rem;
    margin: 0.3rem;
    border-radius: 20px;
    background-color: rgb(187, 240, 222);
    font-size: 20px;  
}
.header__anchor{
    text-decoration: none;
    text-align: center;
}
.header__anchor--activo{
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(187, 240, 222);
}
.header__anchor:hover{
    color: whitesmoke;
}
/*HEARDER FIN*/

/*HERO*/
.hero{
    background-image: url("../../img/pexels-jane-doan-1128678.jpg");
    text-align: center;
    height: 78vh;
    position: relative;
    display: flex;
    padding: 2rem;
}
.hero__heading{
    font-size: 3rem;
    color: rgb(15, 105, 15);
    margin-left: 8.3rem;
    display: flex;
}
.hero__slogan{
    color: rgb(76, 131, 76);
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-top: 2rem;
    }
.hero__btn{
    color: rgb(77, 128, 77);
    background-color: rgb(187, 240, 222);
    font-weight: bold;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    left: 250px;
    bottom: 70px;
    transition: 0.5s;
}
.hero__btn:hover{
    color: whitesmoke;
    padding: 1.1rem;
}
/*HERO FIN*/

/*INFORMACION*/
.info{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0rem 1rem;
    overflow: hidden
}
.infocard{
    width: 100%;
    padding: 1rem 2rem;
    position: relative;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.infocard__img{
    width: 300px;
    height: 250px;
    box-sizing: border-box;
    margin: 1rem;
    padding: 0.5rem;    
}
.infocard__titulo{
    position: absolute;
    top: 0rem;
    right: 14rem;
    color: rgb(36, 122, 94);
    padding: 0.2rem 0.5rem;
    font-size: 1.5rem;
    border-radius: 5px;
}

.infocard__desc{
    margin-top: 1rem;
    text-align: center;
}
.btn{
    position: relative;
    display: inline-block;
    justify-content: center;
    align-content: center;
    color: rgb(15, 105, 15);
    background-color: rgb(187, 240, 222);
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 15px;
    margin-top: 15px;
    transition: 0.5s;
}
.btn:hover{
    color: whitesmoke;
    padding: 0.6rem;
}

/*INFORMACION FIN*/

/*PARRAFOS*/
p{
    color: rgb(21, 128, 92);
	font-size: 1.6rem;
}
/*PARRAFOS FIN*/

/*PIE DE PAGINA*/
.footer2{
    margin-top: 13.4rem;
}
.footer__nav{
    background-color: rgba(197, 193, 193, 0.397);
    padding: 1.5rem;
}
.footer__list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.footer__img{
    height: 40px;
    width: 40px;
    margin: 0.3rem;
}
/*PIE DE PAGINA FIN*/

/*ELEMENTOS DE MEDIA*/
.video__index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 40vh;
    overflow: hidden;
}
.video__titulo{
    position: absolute;
    font-size: 3rem;
    color: white;
}
.slide-left {
	-webkit-animation: slide-left 0.5s ease-in infinite ;
	animation: slide-left 0.5s ease-in infinite ;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-10-17 9:51:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
}
}
@keyframes slide-left {
0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
}
}

#background-video{
    width: 100%;
}
/*ELEMENTOS DE MEDIA FIN*/

/*************************PRODUCTOS*************************/
.capiproduct__head{
    display: flex;
    flex-direction: column;    
}
.capiproduct__titulo{
    color: rgb(21, 128, 92);
    font-size: 30px;
    text-align: center;
}
.capiproduct__video{
    width: 30%;
    align-self: center;
}
.capiproduct__parrafo{
    background-color: rgb(141, 248, 212);
    font-weight: bold;
    text-align: center;
    font-size: 21px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 19px;
}
.capiproduct__slogan{
    color: rgb(21, 128, 92);
    font-size: 25px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-top: 2rem;
}

.productos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-flow: dense;
    gap: 0.4rem;
    margin: 1rem;
}
.productos > div > img, video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.vertical{
    grid-row: span 2;
}
.horizontal{
    grid-column: span 2;
}
.gigante{
grid-row: span 2;
grid-column: span 2;
}
.movil1{
    grid-row: span 1;
    background-color:rgba(0, 128, 0, 0.534);
    color: white;
    font-weight: bold;
    text-align: center;
}
.movil2{
    background-color: rgba(51, 126, 101, 0.342);
    color: white;
    font-weight: bold;
    text-align: center;
}
.movil3{
    background-color: rgba(153, 205, 50, 0.425);
    color: white;
    font-weight: bold;
    text-align: center;
}

/*************************NOSOTROS*************************/
.block{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 2rem;
}
.block__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(21, 128, 92);
}
.block__heading{
    text-align: center;
}
.block__slogan{
    text-align: center;
    font-weight: bold;
}
.member{
    display: flex;
    flex-direction: column;
    padding: 2rem 1.8rem;
    background-color: rgb(146, 206, 186);
    margin: 0rem 0.5rem;
    justify-content: center;
    align-items: center;
}
.member__titulo{
    color: rgb(21, 128, 92);
}
.member__img{
    width: 60%;
}
.member__desc{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.mi__historia{
    display: flex;
    justify-content: center;
}
.mi__pasado{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mi__titulo{
    color: rgb(21, 128, 92);
}
.mi__parrafo{
    background-color: rgb(146, 206, 186);
    padding: 10px;
    font-size: 21px;
    color: white;
    font-weight: bold;
    text-align: center;
}
.mi__video{
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    max-width: 100%;
}

/*************************ENTREGAS*************************/
.recomendacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 20px;
    font-weight: bold;
}
.carousel--alto{
    height: 50vh;
}
.carousel--img{
    object-fit: contain;
    object-position: center;
    height: 50vh;
}

/*************************CONTACTOS*************************/
/*FORMULARIO*/
.contactos{
    background-image: url(../../img/entrega.jpg);
    background-size: 210vh;
    background-repeat: no-repeat;
    color: rgb(21, 128, 92);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.botones{
    display: flex;
}
input[type="text"]{
    width: 150px;
    font-size: 15px;
}
input[type="reset"]{
    cursor:pointer;
    width: 120px;
    color: rgb(21, 128, 92);
    font-size: 16px;
    font-weight: bold;
}
input[type="reset"]:hover{
    border: 1px solid rgb(21, 128, 92);
}
input[type="submit"]{
    width: 120px;
    margin-left: 35px; 
    color: rgb(21, 128, 92);
    font-size: 16px;
    font-weight: bold;
}
input[type="submit"]:hover{
    border: 1px solid rgb(21, 128, 92);
}
/*FORMULARIO FIN*/


/*************************MEDIA QUERIES HASTA 768px*************************/
@media screen and (max-width: 1024px){
/***INDEX***/
.header{
    height: 7rem;
}
.header__logo{
    max-width: 120px;
}
.header__item{
    border-radius: 10px;
    font-size: 17px;
    margin: 0.1rem;
}
.header__anchor--activo{
    font-size: 20px;
}

.hero{
    background-size: cover;
    max-width: 100%;
    height: 30rem;
}
.hero__heading{
    font-size: 1.9rem;
    margin-left: 0rem;
}
.hero__slogan{
    font-size: 1.4rem;
    margin-top: 2rem;
    color: rgb(103, 136, 103);
}
.hero__btn{
    padding: 0.5rem;
    font-size: 1.3rem;
    border-radius: 10px;
    left: 60px;
    bottom: -15px;
}

.info{
    flex-direction: column;
}
.infocard__img{
    width: 340px;
    height: 330px;
    box-sizing: border-box;
    margin-top: 2rem;
    padding: 0.5rem;    
}
.infocard__titulo{
    position: absolute;
    margin-top: 1rem;
    top: 0rem;
    right: 26rem;
    color: rgb(36, 122, 94);
    padding: 0.2rem 0.5rem;
    font-size: 1.5rem;
    border-radius: 10px;
}
.infocard__desc{
    margin-top: 0rem;
    text-align: center;
    font-size: 25px;
    margin-bottom: 0px;
}

.btn{
    padding: 0.5rem;
    font-size: 25px;
    border-radius: 15px;
}
.video__index{
    height: 20vh;
}
.video__titulo{
    font-size: 25px;
}
p{
    font-size: 19px;
    margin: 24px;
}
.footer__list{
    height: 1rem;
}
.footer__titulo{
    font-size: 25px;
}
.footer__img{
    height: 30px;
    width: 30px;
    padding: 1px;
}

/****NOSOTROS****/
.block{
    margin-top: -10rem;
    grid-template-columns: 2fr;
    padding: 10rem;
}
.block__heading{
    font-size: 1.9rem;
}
.block__slogan{
    font-size: 1.5rem;
    height: 1.5rem;
}
.member{
    margin: 0.5rem;
}
.member__img{
    width: 40%;
}
.member__desc{
    font-size: 19px;
}

.mi__titulo{
    margin: -10rem;
}
.mi__parrafo{
    margin-top: 9rem;
}



/****CONTACTOS***/
.contactos{
    background-size: 154vh;
    color: rgb(34, 133, 100);
}
}

/*************************MEDIA QUERIES HASTA 768px*************************/
@media screen and (max-width: 768px){
    /***INDEX***/
    .header{
        height: 8rem;
    }
    .header__logo{
        max-width: 120px;
    }
    .header__item{
        border-radius: 10px;
        font-size: 17px;
        margin: 0.1rem;
    }
    .header__anchor--activo{
        font-size: 20px;
    }

    .hero{
        background-size: cover;
        max-width: 100%;
        height: 30rem;
    }
    .hero__heading{
        font-size: 1.9rem;
        margin-left: 0rem;
    }
    .hero__slogan{
        font-size: 1.4rem;
        margin-top: 2rem;
        color: rgb(103, 136, 103);
    }
    .hero__btn{
        padding: 0.5rem;
        font-size: 1.3rem;
        border-radius: 10px;
        left: 60px;
        bottom: -15px;
    }

    .info{
        flex-direction: column;
    }
    .infocard__img{
        width: 440px;
        height: 430px;
        box-sizing: border-box;
        margin-top: 2rem;
        padding: 0.5rem;    
    }
    .infocard__titulo{
        position: absolute;
        margin-top: 1rem;
        top: 0rem;
        right: 18rem;
        color: rgb(36, 122, 94);
        padding: 0.2rem 0.5rem;
        font-size: 1.5rem;
        border-radius: 10px;
    }
    .infocard__desc{
        margin-top: 0rem;
        text-align: center;
        font-size: 25px;
        margin-bottom: 1px;
    }

    .btn{
        padding: 0.5rem;
        font-size: 25px;
        border-radius: 15px;
    }
    .video__index{
        height: 20vh;
    }
    .video__titulo{
        font-size: 25px;
    }
    p{
        font-size: 19px;
        margin: 24px;
    }
    .footer__list{
        height: 1rem;
    }
    .footer__titulo{
        font-size: 25px;
    }
    .footer__img{
        height: 30px;
        width: 30px;
        padding: 1px;
    }

    /***PRODUCTOS***/
    .capiproduct__titulo{
        font-size: 1.9rem;
    }
    .capiproduct__video{
        width: 50%;
    }
    .capiproduct__parrafo{
        font-size: 1.2rem;
    }
    .capiproduct__slogan{
        font-size: 18px;
        margin-top: 2rem;
    }

    /****ENTREGAS****/
    .rec__img{
        width: 90%;
        height: 90%;
        
    }
    
    /****NOSOTROS****/
    .block{
        margin-top: -5rem;
        grid-template-columns: 2fr;
        padding: 5rem;
    }
    .block__heading{
        font-size: 1.9rem;
    }
    .block__slogan{
        font-size: 1.5rem;
        height: 1.5rem;
    }
    .member{
        margin: 0.5rem;
    }
    .member__img{
        width: 50%;
    }
    .member__desc{
        font-size: 19px;
    }
    .mi__titulo{
        margin-top: -5rem;
        font-size: 20px;
        height: 0rem;
    }
    .mi__parrafo{
        font-size: 19px;
        text-align: center;
        margin-top: 11rem;
    }
    .mi__video{
        margin-top: 0rem;
        margin-bottom: 1rem;
        max-width: 70%;
    }

    /****CONTACTOS***/
    .contactos{
        background-size: 116vh;
        color: rgb(27, 110, 82);
    }
}
/*************************MEDIA QUERIES HASTA 320px*************************/
@media screen and (max-width: 320px){
    /***INDEX***/
    .header{
        height: 20.5rem;
        flex-direction: column;
    }
    .header__logo{
        max-width: 100px;
    }
    .header__list{
        display: flex;
        flex-direction: column;
    }
    .header__item{
        display: flex;
        display: column;
        justify-content: center;
        border-radius: 10px;
        font-size: 14px;
        margin: 0.2rem;
    }
    .header__anchor--activo{
        font-size: 17px;
    }

    .hero{
        background-size: cover;
        max-width: 100%;
        height: 27rem;
    }
    .hero__heading{
        font-size: 1.8rem;
        margin-left: 0rem;
    }
    .hero__slogan{
        font-size: 1.3rem;
        margin-top: 2rem;
        color: rgb(103, 136, 103);
    }
    .hero__btn{
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 10px;
        display: flex;
        position: relative;
        justify-content: center;
        left: 0px;
        bottom: -40px;
    }
    
    .info{
        flex-direction: column;
    }
    .infocard__img{
        width: 240px;
        height: 230px;
        box-sizing: border-box;
        margin-top: 2rem;
        padding: 0.5rem;    
    }
    .infocard__titulo{
        position: absolute;
        margin-top: 1rem;
        top: 0rem;
        right: 4rem;
        color: rgb(36, 122, 94);
        padding: 0.2rem 0.5rem;
        font-size: 1.5rem;
        border-radius: 10px;
    }
    .infocard__desc{
        margin-top: 0rem;
        text-align: center;
        font-size: 20px;
        margin-bottom: 1px;
    }
    .btn{
        padding: 0.5rem;
        font-size: 20px;
        border-radius: 15px;
    }
    .video__index{
        height: 20vh;
    }
    .video__titulo{
        font-size: 16px;
    }
    p{
        font-size: 15px;
        margin:0 0 24px 0
    }
    .footer__list{
        height: 1rem;
    }
    .footer__titulo{
        font-size: 15px;
    }
    .footer__img{
        height: 30px;
        width: 30px;
        padding: 1px;
    }

    /***PRODUCTOS***/
    .capiproduct__titulo{
        font-size: 1.5rem;
    }
    .capiproduct__video{
        width: 90%;
        align-self: center;
    }
    .capiproduct__parrafo{
        font-size: 18px;
    }
    .capiproduct__slogan{
        font-size: 18px;
        margin-top: 2rem;
    }
    
    .productos{
        grid-template-columns: 1fr;
    }
    .vertical, .movil{
        grid-column: span 2;
    }

    /****ENTREGAS****/
    .rec__img{
        width: 100%;
        height: 100%;
    }
    /****NOSOTROS****/
    .block{
        margin-top: -1rem;
        grid-template-columns: 1fr;
        padding: 0rem;
    }
    .block__heading{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
    .block__slogan{
        font-size: 1.2rem;
        height: 1rem;
    }
    .member{
        padding: 0rem;
        margin: 0rem 2rem 0.5rem 2rem;
    }
    .member__img{
        width: 60%;
        margin: 0rem;
    }
    .member__desc{
        font-size: 15px;
    }
    .mi__titulo{
        font-size: 20px;
        height: 0rem;
        margin-top: -1rem;
    }
    .mi__parrafo{
        font-size: 15px;
        text-align: center;
        margin-top: 11rem;
    }
    .mi__video{
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        max-width: 90%;
    }

    /****CONTACTOS***/
    .contactos{
        background-size: 99vh;
        color: rgb(27, 110, 82);
    }
}